@page "/"
@inject HttpClient Http
@using OfficeApp.DTO

<h1>Hello you!</h1>

<AttendeesList Title="People at the office today" Attendees="@attendees"></AttendeesList>

<SurveyPrompt Title="How is Blazor working for you?" />

@code {

    private IEnumerable<AttendeesList.Attendee> attendees;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            IEnumerable<Attendance> attendances = await Http.GetFromJsonAsync<IEnumerable<Attendance>>("/api/attendance");
            attendees = attendances?.Select(entry => new AttendeesList.Attendee()
            {
                Name = entry.EmployeeName,
                Note = entry.Note
            });
        }
        catch ( Exception exception)
            {
            Console.WriteLine(exception);
            }


    }
}
