@using Majorsoft.Blazor.Components.Toggle
@page "/settings"

<h1>Settings</h1>

<p>Do you enjoy coffee in the office in the morning:
<ToggleSwitch @ref="_toggleSwitch"
              Checked="_value"
              OnColor="@_onColor"
              OffColor="@_offColor"
              Width="_widht"
              Height="_height"
              HandleStyle="_styleType"
              Disabled="_disabled"
              OnToggleChanged="OnToggleSwitched">
</ToggleSwitch></p>

@if (_value == true)
{
    <p>
    How many cups would you prefer to drink in Moccamaster scale (i.e. 2 cups = 1 big cup)
    <input type="number" step="2" min="0" onchange="OnCupAmountChanged" value="@_cupAmount"/>
    </p>
}


@code {

    private ToggleSwitch _toggleSwitch;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await _toggleSwitch.InnerElementReference.FocusAsync();
        }
    }

    private string _onColor = "Green";
    private string _offColor = "DarkGray";
    private int _widht = 50;
    private int _height = 22;
    private bool _value = true;
    private bool _disabled = false;
    private ToggleSwitchStyle _styleType = ToggleSwitchStyle.Circle;

    private int _cupAmount = 2;

    private ElementReference log1;
    private string _swithch1Log;

    private async Task OnToggleSwitched(bool val)
    {
        _value = val;
    }

    private async Task OnCupAmountChanged(int cupAmount)
    {
        _cupAmount = cupAmount;
    }
}

